


/* ------------------------------
VARIABLES
 */
    :root {


        --color-almost-white: #e8eef4;
        --color-light-green: #63dbc1;
        --color-purple:#4952a3;
        --color-red:#ff5b5e;
        --color-deep-blue:#28313b;
        --color-light-grey:#97a4b1;
        --color-mid-blue:#34495e;

    /* extrapolated colours */

        --main-text-color:= var(--color-mid-blue);
        --strong-text-color: var(--color-deep-blue);
        --alternative-text-color: var(--color-almost-white);
        --error_code: var(--color-red);
        --border-color: var(--colour-light-grey);
    /* background colours*/
        --main-bg-color: var(--color-almost-white);
        --secondary-bg-color: var(--color-almost-white);
        --alternative-bg-color: var(--color-purple);

        /*-- font sizes -- */
 /* ------------------------------
GLOBAL DEFAULTS
 */


 /* ------------------------------
HEADINGS AND TYPE
 */



 /* ------------------------------
LAYOUT
 */


 /* ------------------------------
HEADER
 */
 header {
    background-color: #4952a3;
}



 /* ------------------------------
NAVIGATION
 */
 
 /* ------------------------------
FOOTER
 */
 
 /* ------------------------------
FORMS
 */
 
 /* ------------------------------
MODULES
 */
